<!-- Main navigation container -->

<nav
class="relative flex w-full flex-nowrap items-center justify-between bg-neutral-100 py-2 text-neutral-500 shadow-lg focus:text-neutral-700 dark:bg-neutral-800 lg:flex-wrap lg:justify-start lg:py-4"
data-te-navbar-ref>
  <div class="flex w-full flex-wrap items-center justify-between px-3">
    <!-- Hamburger button for mobile view -->
    <button
		class="block border-0 bg-transparent px-2 text-neutral-500 hover:no-underline hover:shadow-none focus:no-underline focus:shadow-none focus:outline-none focus:ring-0 dark:text-neutral-200 lg:hidden"
		type="button"
		data-te-collapse-init
		data-te-target="#navbarSupportedContent3"
		aria-controls="navbarSupportedContent3"
		aria-expanded="false"
		aria-label="Toggle navigation">
      <!-- Hamburger icon -->
      <span class="[&>svg]:w-7">
        <svg
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 24 24"
				fill="currentColor"
				class="h-7 w-7">
          <path
					fill-rule="evenodd"
					d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
					clip-rule="evenodd" />
				</svg>
			</span>
		</button>

		<a class="pr-2 text-xl text-black dark:text-neutral-200" routerLink="/home">
			<img class="h-10 w-10" src="./assets/navbar.png" />
		</a>
    <!-- Collapsible navbar container -->
    <div
		class="!visible mt-2 hidden flex-grow items-center basis-[100%] items-center lg:mt-0 lg:!flex lg:basis-auto"
		id="navbarSupportedContent3"
		data-te-collapse-item>
      <!-- Left links -->
      <ul
			class="list-style-none md:items-center mr-auto flex flex-col pl-0 lg:flex-row"
			data-te-navbar-nav-ref>
        <!-- Home link -->
        <li class="my-2 lg:my-0 lg:pr-2" data-te-nav-item-ref>
          <a
					class="text-gray-500 transition-all	duration-100 hover:text-sky-700 dark:text-200 lg:px-2"
					aria-current="page"
					routerLink="/home"
					routerLinkActive="text-indigo-500 underline"
					data-te-nav-link-ref>
						Home
					</a>
				</li>
				<li class="my-2 lg:my-0 lg:pr-2" data-te-nav-item-ref>
          <a
					class="text-gray-500 transition-all	duration-100 hover:text-sky-700 dark:text-200 lg:px-2"
					aria-current="page"
					routerLink="/create-question"
					routerLinkActive="text-indigo-500 underline"
					data-te-nav-link-ref>
						Create Question
					</a>
				</li>
        <!-- dropdown -->
        <li class="my-2 lg:my-0 lg:pr-2" data-te-nav-item-ref>
					<div class="relative" data-te-dropdown-ref>
						<button
						class="flex items-center whitespace-nowrap rounded bg-primary px-4 pb-1.5 pt-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] motion-reduce:transition-none dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
						type="button"
						id="dropdownMenuButton1ds"
						data-te-dropdown-toggle-ref
						aria-expanded="false"
						data-te-ripple-init
						data-te-ripple-color="light">
							<span class="material-symbols-outlined">
								account_circle
							</span>
							<span class="ml-2 w-2">
								<svg
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 20 20"
								fill="currentColor"
								class="h-5 w-5">
									<path
									fill-rule="evenodd"
									d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
									clip-rule="evenodd" />
								</svg>
							</span>
						</button>
						<ul
						class="absolute z-[1000] float-left m-0 hidden min-w-full list-none overflow-hidden rounded-lg border-none bg-white bg-clip-padding text-left text-base shadow-lg dark:bg-neutral-700 [&[data-te-dropdown-show]]:block"
						aria-labelledby="dropdownMenuButton1ds"
						data-te-dropdown-menu-ref>
							<li>
								<a
								class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-200 dark:text-neutral-200 dark:hover:bg-neutral-600"
								routerLink="/profile"
								data-te-dropdown-item-ref
								>
									Profile
									<span class="material-symbols-outlined text-base align-middle ml-1">
										manage_accounts
									</span>
								</a>
							</li>
							<li>
								<a
								class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-200 dark:text-neutral-200 dark:hover:bg-neutral-600"
								routerLink="/create-question"
								data-te-dropdown-item-ref
								>
									Create Question
									<span class="material-symbols-outlined text-base align-middle ml-1">
										create_new_folder
									</span>
								</a>
							</li>
							<hr class="my-2" />
							<li class="bg-red-500">
								<a
								class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-red-200 hover:bg-red-600 cursor-pointer"
								(click)="logout()"
								data-te-dropdown-item-ref
								>
									Logout
									<span class="material-symbols-outlined text-base align-middle ml-1">
										logout
									</span>
									</a
								>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
		<div (click)="toggleTheme()" class="bg-indigo-500 text-gray-400 rounded-xl p-2 flex justify-center cursor-pointer transition-all duration-200 hover:bg-indigo-700 hover:text-gray-100">
			<span class="material-symbols-outlined">
				{{themeIcons}}
			</span>
		</div>
	</div>
</nav>

